@import "style/styleConstants";
@import "style/responsive";

.title {
  color: var(--color-neutral-tint4);
  font-family: $fancy-font;
  font-weight: normal;
}

.header {
  padding: 4px 4px 8px 4px;
  min-height: var(--rhythm);
  background: var(--color-primary);
}
