@import "style/styleConstants";
@import "style/responsive";

.title {
  color: var(--color-neutral-tint4);
  font-family: $fancy-font;
  font-weight: normal;
}


.header {
  padding: 0 4px 8px 4px;
  text-align: right;
  background: var(--color-primary);

  &.center {
    text-align: center;
  }
}
