@import "style/styleConstants";

.title {
  --rhythm: 1.5rem;
  color: $red;
  font-family: $fancy-font;
  font-weight: normal;
}

.header {
  padding: 0 5px 5px 5px;
  border-bottom: 2px solid $red;
  text-align: right;
}
