@import "style/responsive";

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-neutral-tint4);
  z-index: 99;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  @include lg {
    border-radius: var(--border-radius);
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  display: flex;
  flex-direction: column;
  background: var(--color-neutral-tint2);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  padding: var(--rhythm-half);
  flex-grow: 1;
  overflow: auto;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: var(--rhythm-half);
}
