@import "style/styleConstants";

.title {
  display: flex;
  align-items: baseline;
}

.titleText {
  font-family: $fancy-font;
}

.titleLine {
  flex-grow: 1;
  height: 3px;
  border: none;
  margin-left: -5px;
  margin-bottom: 0;
}

// Override cutestrap
.titleLine:before {
  content: none;
}
