@import "styleConstants";

* {
  /* Sets our Baseline Grid */
  --rhythm: 2rem;

  /* Sets font-size relative to rhythm */
  --line-height-ratio: 1.4;
}

* {
  /* Sets our Baseline Grid */
  --rhythm: 2rem;

  /* Sets font-size relative to rhythm */
  --line-height-ratio: 1.4;
}

@media (max-width: 55rem) {
  * {
    --rhythm: 1.7rem;
  }
}

@media (min-width: 110rem) {
  * {
    --rhythm: 2.3rem;
  }
}

/* Theme Specific Styles */

html {
  --color-primary-shade1: hsl(350, 80%, 60%);
  --color-primary: hsl(350, 80%, 45%);
  --color-primary-tint1: hsl(350, 80%, 35%);
  --color-accent-shade1: hsl(170, 80%, 60%);
  --color-accent: hsl(170, 80%, 45%);
  --color-accent-tint1: hsl(170, 80%, 35%);
  --color-link: hsl(230, 80%, 60%);
  --color-link-visited: hsl(290, 80%, 60%);
  --color-link-hover: hsl(230, 60%, 50%);
  --color-link-active: hsl(350, 60%, 50%);
  --color-neutral-shade4: hsl(170, 10%, 98%);
  --color-neutral-shade3: hsl(170, 10%, 94%);
  --color-neutral-shade2: hsl(170, 10%, 85%);
  --color-neutral-shade1: hsl(170, 10%, 68%);
  --color-neutral: hsl(170, 10%, 55%);
  --color-neutral-tint1: hsl(170, 10%, 41%);
  --color-neutral-tint2: hsl(170, 10%, 30%);
  --color-neutral-tint3: hsl(170, 10%, 18%);
  --color-neutral-tint4: hsl(170, 10%, 2%);
}

html {
  //--color-primary-tint1: #{$red-lighter};
  //--color-primary: #{$red};
  //--color-primary-shade1: #{$red-dark};
  //--color-neutral-tint4: #{$background-color}
}

.toolbar-button {
  border: 1px solid var(--color-neutral-tint1);
  background-color: var(--color-neutral-tint3);
  border-radius: 2px;
  color: var(--color-neutral-shade3);
  cursor: pointer;
  display: inline-block;
  padding: var(--rhythm-eighth) var(--rhythm-half);
  vertical-align: middle;
}

.toolbar-button:hover,
.toolbar-button:focus {
  background-color: var(--color-neutral-tint2);
}

.toolbar-label + .toolbar-button {
  margin-left: var(--rhythm-half);
}

.toolbar-button.-small {
  --line-height-ratio: 2;

  font-size: var(--font-size);
}

.toolbar-button.-large {
  --line-height-ratio: 1;

  font-size: var(--font-size);
}

.toolbar-button.-light {
  background-color: var(--color-neutral-tint4);
  color: var(--color-neutral-shade2);
}

.toolbar-button.-dark {
  background-color: var(--color-neutral-shade2);
  color: var(--color-neutral-tint4);
}

.toolbar-button.-on {
  text-decoration: underline overline;
}

[data-theme="dark"] .toolbar-button.-light {
  background-color: var(--color-neutral-shade2);
  color: var(--color-neutral-tint4);
}

[data-theme="dark"] .toolbar-button.-dark {
  background-color: var(--color-neutral-tint4);
  color: var(--color-neutral-shade2);
}

[data-rhythm="small"] .toolbar-button.-small,
[data-rhythm="normal"] .toolbar-button.-normal,
[data-rhythm="large"] .toolbar-button.-large,
[data-theme="light"] .toolbar-button.-light,
[data-theme="dark"] .toolbar-button.-dark,
[data-grid="on"] .toolbar-button.-on,
[data-grid="off"] .toolbar-button.-off {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}
