/* Coolors Exported Palette - coolors.co/fc9a23-e03541-faedca-52489c-4e5340 */
$orange: rgba(252, 154, 35, 1);
$red: rgba(224, 53, 65, 1);
$white: rgba(250, 237, 202, 1);
$blue: rgba(82, 72, 156, 1);
$black: rgba(78, 83, 64, 1);

/* Coolors Exported Palette - coolors.co/cf7f1d-b82c36-cdc2a6-443b80-404435 */
$orange-dark: rgba(207, 127, 29, 1);
$red-dark: rgba(184, 44, 54, 1);
$white-dark: rgba(205, 194, 166, 1);
$blue-dark: rgba(68, 59, 128, 1);
$black-dark: rgba(64, 68, 53, 1);

/* Coolors Exported Palette - coolors.co/734610-66191e-726c5c-262147-24261e */
$orange-darker: rgba(115, 70, 16, 1);
$red-darker: rgba(102, 25, 30, 1);
$white-darker: rgba(114, 108, 92, 1);
$blue-darker: rgba(38, 33, 71, 1);
$black-darker: rgba(36, 38, 30, 1);


/* Coolors Exported Palette - coolors.co/fcac4b-e55963-faf0d3-7169ae-6e7262 */
$orange-light: rgba(252, 172, 75, 1);
$red-light: rgba(229, 89, 99, 1);
$white-light: rgba(250, 240, 211, 1);
$blue-light: rgba(113, 105, 174, 1);
$black-light: rgba(110, 114, 98, 1);


/* Coolors Exported Palette - coolors.co/fdd19b-f0a3a8-fcf6e6-b0abd2-aeb0a8 */
$orange-lighter: rgba(253, 209, 155, 1);
$red-lighter: rgba(240, 163, 168, 1);
$white-lighter: rgba(252, 246, 230, 1);
$blue-lighter: rgba(176, 171, 210, 1);
$black-lighter: rgba(174, 176, 168, 1);

$fancy-font: 'Pacifico', sans-serif;
$default-font: 'Avenir', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', 'Verdana', sans-serif;
$mono-font: 'Consolas', 'Monaco', 'Courier New', monospace;
