/* Coolors Exported Palette - coolors.co/fc9a23-e03541-faedca-52489c-4e5340 */
$orange: #fc9a23;
$red: #e03541;
$white: #faedca;
$blue: #52489c;
$black: #4e5340;
$green: #73AF33;

/* Coolors Exported Palette - coolors.co/cf7f1d-b82c36-cdc2a6-443b80-404435 */
$orange-dark: #cf7f1d;
$red-dark: #b82c36;
$white-dark: #cdc2a6;
$blue-dark: #443b80;
$black-dark: #404435;

/* Coolors Exported Palette - coolors.co/734610-66191e-726c5c-262147-24261e */
$orange-darker: #734610;
$red-darker: #66191e;
$white-darker: #726c5c;
$blue-darker: #262147;
$black-darker: #24261e;


/* Coolors Exported Palette - coolors.co/fcac4b-e55963-faf0d3-7169ae-6e7262 */
$orange-light: #fcac4b;
$red-light: #e55963;
$white-light: #faf0d3;
$blue-light: #7169ae;
$black-light: #6e7262;


/* Coolors Exported Palette - coolors.co/fdd19b-f0a3a8-fcf6e6-b0abd2-aeb0a8 */
$orange-lighter: #fdd19b;
$red-lighter: #f0a3a8;
$white-lighter: #fcf6e6;
$blue-lighter: #b0abd2;
$black-lighter: #aeb0a8;

$fancy-font: 'Pacifico', sans-serif;
$default-font: 'Avenir', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', 'Verdana', sans-serif;
$mono-font: 'Consolas', 'Monaco', 'Courier New', monospace;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
