@import "style/styleConstants";

.chartWrapper {
  text-align: center;
}

.aspectLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8px;
  padding: 6px 8px;
  border-bottom: 2px solid var(--color-neutral-tint1);

  &:last-child {
    border-bottom: none;
  }
}

.flexCenter {
  display: flex;
  align-items: center;
}

.colorPicker {
  font-size: var(--rhythm);
  display: flex;
  justify-content: space-between;
  margin: 24px 8px;
}

.colorBox {
  border-radius: 50%;
  display: flex;
  align-items: center;

  &.selected {
    box-shadow: 0 0 10px 0 var(--color-neutral-shade2);
  }
}
