@import "style/styleConstants";

.chartWrapper {
  text-align: center;
}

.noAspects {
  --line-height-ratio: 1.2;
  --sub-rhythm: 3rem;
  font-size: var(--font-size);
  line-height: var(--line-height);
  padding: 8px 16px;
  font-weight: bolder;
  color: var(--color-neutral-tint2);
}

.arrowWrapper {
  text-align: right;
  padding-right: 75px;
}

.arrow {
  max-width: 125px;
  margin-bottom: 20px;
}

.aspectLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8px;
  padding: 6px 0;
  border-bottom: 2px solid var(--color-neutral-tint1);

  &:last-child {
    border-bottom: none;
  }

  &.addIconRow {
    align-items: flex-end;
    justify-content: flex-end;
  }

}

.flexCenter {
  display: flex;
  align-items: center;
}

.colorPicker {
  font-size: var(--rhythm);
  display: flex;
  justify-content: space-between;
  margin: 24px 8px;
}

.colorBox {
  border-radius: 50%;
  display: flex;
  align-items: center;

  &.selected {
    box-shadow: 0 0 10px 0 var(--color-neutral-shade2);
  }
}
