@import "style/styleConstants";


$buttonShadow: 0 0 4px 1px var(--color-neutral-tint4);
.button {
  box-shadow: $buttonShadow;
}

.buttonGroup {
  &.alignLeft {
    text-align: left
  }

  &.alignRight {
    text-align: right
  }

  &.alignCenter {
    text-align: center
  }

  .button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .button:not(:first-child ):not(:last-child) {
    border-radius: 0;
  }

  .button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.iconButton {
  display: inline-block;
  padding: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 4px;
  box-shadow: $buttonShadow;
  background: var(--color-neutral-tint2);
  text-align: center;
  vertical-align: center;
}

.buttonGroupShadow {
  display: inline-block;
  box-shadow: $buttonShadow;

  .button {
    box-shadow: none;

  }
}
