@import "style/styleConstants";
@import "style/responsive";

.root {
  margin-top: 24px;
  overflow: hidden;
}

.goals {
  width: 200%;
  transform: translateX(-50%);
  transition: transform 200ms;

  &.showActions {
    transform: none;
  }

  @include lg {
    width: 100%;
    transform: none;
  }
}

.cardWrapper {
}

.headerRow {
  display: flex;
  justify-content: space-between;
  @include lg {
    display: none;
  }
}

.goalRow {
  display: flex;
  margin: 8px;
  border: 4px dashed var(--color-neutral-tint2);
  padding: 8px;
  border-radius: var(--border-radius);
}

.actionColumn {
  flex: 1;
}

.goalColumn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
