@import "style/styleConstants";


.border {
  border: 2px solid var(--color-neutral-tint2);
  border-radius: 4px;
  padding: 4px;
  margin: 8px;
  width: 95%;
  box-sizing: border-box;
}

.card {

}

.titleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  --sub-rhythm: 2rem;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.title {
  //margin: 0 auto;
}
