@import "style/styleConstants";
@import "style/responsive";

.root {
  overflow: hidden;
}

.goals {
  width: 200%;
  transition: transform 200ms;

  @include lg {
    width: 100% !important;
    transform: none !important;
  }
}

.cardWrapper {
}

.headerRow {
  display: flex;
  justify-content: space-between;
  @include lg {
    display: none;
  }
}

.goalRow {
  display: flex;
  margin: 8px;
  border: 4px dashed var(--color-neutral-tint2);
  padding: 8px;
  border-radius: var(--border-radius);
}

.actionColumn {
  flex: 1;
}

.goalColumn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
