@import "style/styleConstants";
@import "style/responsive";

.header {
  text-align: right;
  @include largeMenu {
    display: none;
  }
}

.app {
  height: 100%;
  font-family: $default-font;
  display: flex;
  flex-direction: column;
  @include largeMenu {
    flex-direction: row-reverse;
  }
}

.main {
  flex-grow: 1;
  overflow: auto;
}
