@import "style/styleConstants";

.header {
  height: 20px;
}

.app {
  height: 100vh;
  font-family: $default-font;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  overflow: auto;
}
